.row
  .span12
    %iframe{:frameborder => "0", :height => "450", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com.ua/maps?f=q&source=s_q&hl=uk&geocode=&q=%D0%B2%D1%83%D0%BB.+%D0%93%D0%BE%D0%BB%D0%BE%D0%B2%D0%B0%D1%86%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+23,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C&aq=&sll=49.839713,24.005497&sspn=0.012372,0.03195&ie=UTF8&hq=&hnear=%D0%B2%D1%83%D0%BB.+%D0%93%D0%BE%D0%BB%D0%BE%D0%B2%D0%B0%D1%86%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+23,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C&t=m&z=14&iwloc=A&output=embed", :width => "100%"}
    %br/
    %small.pull-right
      %a{:href => "https://maps.google.com.ua/maps?f=q&amp;source=embed&amp;hl=uk&amp;geocode=&amp;q=%D0%B2%D1%83%D0%BB.+%D0%93%D0%BE%D0%BB%D0%BE%D0%B2%D0%B0%D1%86%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+23,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C&amp;aq=&amp;sll=49.839436,24.005615&amp;sspn=0.003093,0.007988&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%B2%D1%83%D0%BB.+%D0%93%D0%BE%D0%BB%D0%BE%D0%B2%D0%B0%D1%86%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+23,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C&amp;t=m&amp;z=14&amp;iwloc=A"} Переглянути більшу мапу
    %h4 Наші контакти
    %dl.dl-horizontal
      %dt Телефон:
      %dd +38 098 036 55 35
      %dt E-mail:
      %dd mongresse@ukr.net
      //%a{ mailto: 'mongresse@ukr.net', target: '_blank' }
      %dt Місто:
      %dd Львів
      %dt Вулиця:
      %dd Головацького
      %dt Будинок:
      %dd 23В
      %dt Офіс:
      %dd 10 (3-й поверх)
  / .span6
  /   #push-nav
  /   %h4 Напишіть нам
  /   %blockquote
  /     %p Заповніть поля цієї форми, щоб написати у відділ з обслуговування клієнтів нашої компанії. 
  /     %small Ми зв'яжемось з Вами.
  /   %input.input-block-level{ type: "text", placeholder: "Ваше ім'я" }
  /   %input.input-block-level{ type: "text", placeholder: "Ваш E-mail*" }
  /   %input.input-block-level{ type: "text", placeholder: "Ваш телефон" }
  /   %input.input-block-level{ type: "text", placeholder: "Тема" }
  /   %textarea.input-block-level{ type: "text", placeholder: "Текст повідомлення*", rows: 10 }
  /   %small.pull-right.muted *Поля, відмічені зірочкою, обов’язкові.