.custom {

  &.country {
    .nav {
      margin: 0 0 0 10px;
    }
    .nav-tabs {
      border-bottom: 0;
    }
    .tab-content {
      border: 1px solid rgb(221, 221, 221);
      padding: 15px;
      background-color: white;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }

  a {
    color: #f8991f;
  }

/*  .nav-tabs {
    border-bottom: 4px solid #f8991f;
  }

  .nav-tabs > li {
    margin-bottom: 0;
  }*/

  .nav > li > a:hover, 
  .nav > li > a:focus {
    color: white;
    background-color: #f8991f;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .nav-tabs > li:not(.active) > a:hover, 
  .nav-tabs > li:not(.active) > a:focus {
    border-color: #f8991f;
  }
  
  .nav-tabs > .active > a, 
  .nav-tabs > .active > a:hover, 
  .nav-tabs > .active > a:focus {
    color: #f8991f;
    background-color: white;
  }

  .navbar .nav {
    &> .active, &> .open {
      &> a, &> a:hover, &> a:focus {
        color: white;
        text-decoration: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: 0;
        outline-offset: 0;
      }
    }
  }

  .navbar .nav {
    &> .dropdown {
      &> a, &> a:hover, &> a:focus {
        outline: 0;
        outline-offset: 0;
      }
    }
  }

  .navbar .nav li.dropdown.open > .dropdown-toggle, 
  //.navbar .nav li.dropdown.active > .dropdown-toggle, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #f8991f;
    color: white;
  }

  li.dropdown.open > .dropdown-toggle, 
  .navbar .nav li.dropdown.active > .dropdown-toggle, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #f8991f;
  }


  .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus,  
  li.dropdown.open > .dropdown-toggle:hover, 
  .navbar .nav li.dropdown.active > .dropdown-toggle:hover, 
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
  .nav-collapse .nav > li > a:hover, 
  .nav-collapse .nav > li > a:focus, 
  .nav-collapse .dropdown-menu a:hover, 
  .nav-collapse .dropdown-menu a:focus {
    background-color: #f8991f;
    color: white;
    border-color: #f8991f;
  }

  .navbar .nav li.dropdown > a.dropdown-toggle .caret {
    border-top-color: #777;
    border-bottom-color: #777;
    color: #777;
  }

  .navbar .nav li.dropdown.active > a.dropdown-toggle .caret {
    border-top-color: #f8991f;
    border-bottom-color: #f8991f;
    color: #f8991f;
  }
  .navbar .nav li.dropdown.active > a.dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.open > a.dropdown-toggle:focus .caret,
  .navbar .nav li.dropdown.open.active > a.dropdown-toggle:focus .caret,
  .navbar .nav li.dropdown.open > a.dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.open.active > a.dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.open > a.dropdown-toggle .caret,
  .navbar .nav li.dropdown.open.active > a.dropdown-toggle .caret,
  .navbar .nav li.dropdown > a:hover .caret, 
  .navbar .nav li.dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
    color: white;
  }

  .dropdown-menu > li > a:hover, 
  .dropdown-menu > li > a:focus, 
  .dropdown-submenu:hover > a, 
  .dropdown-submenu:focus > a {
    text-decoration: none;
    color: white;
    background-color: #f8991f;
    background-image: none;
    filter: none;
  }
}

/* Large desktop */
@media (min-width: 1200px) { 
  #wrap .container {
    padding-top: 60px;
  }
  #push-nav {
    height: 80px;
  }
  .custom {
    .navbar-fixed-top .navbar-inner, 
    .navbar-static-top .navbar-inner {
      //border-width: 1px 0;
      //margin-top: 10px;
    }


    .navbar {
      .nav > li {
        &> a{
          padding: 16px 15px 20px;
          border-top: 4px solid transparent;
          text-shadow: none;
        }
        &.active > a{
          border-top: 4px solid #f8991f;
          color: #f8991f;
        }
        &.active:hover > a, &:hover > a{
          background: #f8991f;
          color: white;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
        }
      }
      .brand {
        width: 220px;
        .bg-logo{
          position: absolute;
          top: 0px;
          padding: 5px;
          background-color: #F9F9F9;
          background-image: -moz-linear-gradient(top, white, #F2F2F2);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
          background-image: -webkit-linear-gradient(top, white, #F2F2F2);
          background-image: -o-linear-gradient(top, white, #F2F2F2);
          background-image: linear-gradient(to bottom, white, #F2F2F2);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
          border: 1px solid #D4D4D4;
          border-top: 0;
          -webkit-border-radius: 0 0 4px 4px;
          -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
          -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          &:hover {
            transition: box-shadow 1s;
            -moz-transition: -moz-box-shadow 1s;
            -webkit-transition: -webkit-box-shadow 1s;
            -o-transition: box-shadow 1s;
              
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
          }
          .logo{
            background: url(/assets/logo.png) no-repeat center;
            background-size: 218px 115px;
            width: 218px;
            height: 115px;
          }
        }
      }
    }
  }
}

/* Default desctop */
@media (min-width: 980px) and (max-width: 1199px) { 
  #wrap .container {
    padding-top: 40px;
  }
  #push-nav {
    height: 60px;
  }
  .custom {
    .navbar-fixed-top .navbar-inner, 
    .navbar-static-top .navbar-inner {
      //border-width: 1px 0;
      //margin-top: 10px;
    }

    .navbar {
      .nav > li {
        &> a{
          padding: 6px 15px 10px;
          border-top: 4px solid transparent;
          text-shadow: none;
        }
        &.active > a{
          border-top: 4px solid #f8991f;
          color: #f8991f;
        }
        &.active:hover > a, &:hover > a{
          background: #f8991f;
          color: white;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
        }
      }
      .brand {
        width: 150px;
        .bg-logo{
          position: absolute;
          top: 0px;
          padding: 5px;
          background-color: #F9F9F9;
          background-image: -moz-linear-gradient(top, white, #F2F2F2);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
          background-image: -webkit-linear-gradient(top, white, #F2F2F2);
          background-image: -o-linear-gradient(top, white, #F2F2F2);
          background-image: linear-gradient(to bottom, white, #F2F2F2);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
          border: 1px solid #D4D4D4;
          border-top: 0;
          -webkit-border-radius: 0 0 4px 4px;
          -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
          -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          &:hover {
            transition: box-shadow 1s;
            -moz-transition: -moz-box-shadow 1s;
            -webkit-transition: -webkit-box-shadow 1s;
            -o-transition: box-shadow 1s;
              
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
          }
          .logo{
            background: url(/assets/logo_small.png) no-repeat center;
            background-size: 150px 79px;
            width: 150px;
            height: 79px;
          }
        }
      }
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) { 
  .custom {
    .nav-collapse .nav > li > a, 
    .nav-collapse .dropdown-menu a {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    .navbar {
      .nav > li {
        &> a{
          border-left: 3px solid transparent;
          text-shadow: none;
        }
        &.active > a{
          border-left: 3px solid #f8991f;
          color: #f8991f;
        }
        &.active:hover > a, &:hover > a{
          background: #f8991f;
          color: white;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
        }
      }
      .bg-logo{
        .logo{
          background: url(/assets/logo_small.png) no-repeat center;
          background-size: 150px 79px;
          width: 150px;
          height: 79px;
        }
      }
    }
  }
}